{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4. feladat</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="center-flex">
        <h1>Az előadók száma tudományterületenként</h1>
        <table>
            <thead>
                <tr>
                    <th>Tudományterület</th>
                    <th>Tudósok száma</th>
                </tr>
            </thead>
            <tbody>
                {% for adat in adatok %}
                <tr>
                    <td>{{ adat.terulet }}</td>
                    <td>{{ adat.db }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>